extends layout

block content
    header=gameUrl
   
    div.container      
      h2.js-active=`${users.length} joined`
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name} on Team ${buzz.team}`
      button.js-clear.btn='Clear buzzes'
      button.js-question.btn='Show Question'
      button.pause.btn='Pause Timer'
      button.js-logo.btn='Logo'
      button.js-music.btn.is-paused='Music Toggle'

      div.js-question.view-question Question
      div.js-answers                      
        div.js-choices.host-choices
        p
          button.js-lock.host-lock Lock In
           
    script(src='/socket.io/socket.io.js')
    script(src='/host.js')


