extends layout

block content
    header=gameUrl
    div.container
        h1.timer 0
        button.start.sec30='Start 30'
        button.start.sec60='Start 60'
        button.pause='Pause'
    div.container      
      h2.js-active=`${users.length} joined`
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name} on Team ${buzz.team}`
      button.js-clear.btn='Clear buzzes'
      button.js-question.btn='Show Question'
           
    script(src='/socket.io/socket.io.js')
    script(src='/host.js')


