extends layout

block content
    header=gameUrl
   
    div.container      
      h2.js-active=`${users.length} joined`
      ol.js-buzzes
        each buzz in buzzes
          li=`Team ${buzz}`
      div.actions
        button.js-clear.btn='Clear buzzes'
        button.js-question.btn='Show Question'
        button.pause.btn='Pause Timer'
        button.js-logo.btn='Logo'
        button.js-music.btn.is-paused='Music Toggle'
        button.js-selection.btn.is-paused='Allow Selection'
        button.js-fx.btn='Sound FX Toggle'
        input(name="musicVol" type="range" list="tickmarks" value="10" step="10")
        div.js-total-questions.total-questions Question 
            span=0 
            =`/${totalQuestions}`

      div.js-question.view-question Question
      div.js-answers                      
        div.js-choices.host-choices
        p
          button.js-lock.host-lock Lock In


    datalist(id="tickmarks")
        - for (var x = 0; x <= 100; x=x+10)
            option(value=x)
        
           
    script(src='/socket.io/socket.io.js')
    script(src='/host.js')


